<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JEN Stack Example</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/genericScript.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>JEN Stack Example</h1>
    <input id="eventName" type="text" name="eventName" value="EventName">
    <input id="athleteName" type="text" name="athleteName" value="athleteName">
    <input id="award" type="text" name="award" value="award">
    <button id='testGetButton'>testGet</button>
    <button id='testPostButton'>testPost</button>
    <div class='hotpockets'></div>
  </body>
</html>
